
.pokemon{
    
    background-color: rgb(131, 187, 224);
    color: aliceblue;
    margin: 10%;
    margin-left: 30%;
    margin-right:30%;
  
}

tr:nth-child(even) {
    background-color: rgb(172, 172, 172);
  }

form{
    padding: 10px;
}

button{
    margin-left:10px;
}

table{

    background-color: white;
    margin: 0 auto;
    width:10%;
    border: 5px solid;
    border-color: black;
}

.num{
    color: black !important;
}

td{
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid rgba(0, 0, 0, 0.336); 
    color: #006cb0;
}

th{
    font-size: 20px;
}

